body {
  background-color: rgb(255, 255, 255);
  font-family: "Exo", sans-serif;
}

.paragraph-container {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.custom-paragraph {
  font-size: 14px;
  width: 300px;
  color: hsl(318, 66%, 52%);
  padding: 0px;
  margin: 2px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 200px;
  padding: 5px;
}

canvas {
  margin-left: 0px;
  margin-right: 10px;
  /* Calculate the width to fill available space */
  width: calc(100% - 5px);
  height: 400;
  padding: 0;
}

/* Style for logo */
#logo {
  width: 100px; /* Set the width of your logo */
  height: auto; /* Maintain aspect ratio */
  margin: 0px; /* Optional: Add some margin */
  margin-right: 10px; /* Optional: Add some spacing between logo and title */
}

/* Style for the title */
h1 {
  font-size: 20px;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  color: #277a66;
  margin: 0;
  padding: 0px;
}

h2 {
  color: #277a66;
}

/* Define color for h3 */
h3 {
  color: #921e1e;
}

.domain-h4 {
  color: #921e1e;
  padding: 0px;
  margin: 0;
  margin-right: 10px;
  text-align: right;
}

.canvas-container {
  display: flex;
  align-items: center;
}

p {
  color: hsl(0, 39%, 23%);
}

.menu-icon {
  display: block;
}
.sub-menu {
  margin-left: 0px;
  margin-right: 0;
  padding: 0px;
}
.menu-list {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: -200px;
  padding: 0px;
  margin: 0;
  background-color: #eee;
}

.menu-list.active {
  display: flex;
}

.menu-list li {
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 2px;
  list-style: none;
}

.reset-button {
  cursor: pointer;
  background-color: #437e51;
  color: #fff;

  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.regular-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 2px;
}

nav {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 1000;
}

.invisible-div {
  height: 10px;
  visibility: hidden;
}

header {
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Space between logo and title */
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: inline-block;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

.title {
  margin-left: 20px; /* Adjust as needed for spacing between logo and title */
}

/* Styling for the pop-up panel */
#helpPanel {
  display: none;
  position: fixed;

  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  z-index: 1;

  top: 50px;
  right: 0;
  width: 300px; /* Adjust the width as needed */
}

.helpList {
  padding: 0px;
  margin: 0px;
}

/* Styling for the close button */
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
